*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
}

.hero-box-wrapper {
    background-image: url(https://github.com/frontendmentorio/clipboard-landing-page/blob/master/images/bg-header-desktop.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.hero-box-wrapper .hero-box,
.hero-box-wrapper .hero-box .page-title-wrapper,
.container .mini-box-wrapper,
.container .mini-box,
.container .clipboard-section-wrapper,
.container .clipboard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-box-wrapper .hero-box,
.container .mini-box-wrapper .mini-box,
.container .clipboard-section-wrapper .clipboard-section
 {
    max-width: 724px;
}

.hero-box-wrapper .hero-box .logo-wrapper .logo {
    display: block;
    width: 150px;
    margin: 150px 0 60px;
}

.hero-box-wrapper .hero-box .page-title-wrapper .title {
    font-size: 40px;
    color: #5D5E60;
    margin: 0 0 20px;
    text-align: center;
}

.hero-box-wrapper .hero-box .page-title-wrapper .title-description {
    text-align: center;
    font-size: 18px;
    color: #9AA0A8;
    margin: 0 0 40px;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.button {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    min-width: 170px;
    border-radius: 30px;
    padding: 15px 25px;
    display: inline-block;
    cursor: pointer;

}

.button.first {
    background-color: #2F9C95;
    box-shadow: 5px 10px 8px #2f9c952d;
}

.button.first:hover,
.button.second:hover {
    opacity: 0.8;
}

.button.second {
    background-color: #5C7AFF;
    box-shadow: 5px 10px 8px #5c7aff27;
}

.container .mini-box-wrapper {
    margin-bottom: 80px;
    text-align: center;
}

.container .mini-box-wrapper .mini-box .mini-box-title,
.container .clipboard-section-wrapper .clipboard-section .clipboard-section-title {
    font-size: 30px;
    color: #5D5E60;
    margin: 0 0 20px;
    text-align: center;
}

.container .mini-box-wrapper .mini-box .mini-box-description,
.container .clipboard-section-wrapper .clipboard-section .clipboard-section-description {
    text-align: center;
    font-size: 16px;
    color: #9AA0A8;
    margin: 0;
}

.big-box {
    width: 85%;
    display: flex;
    gap: 70px;
    margin-bottom: 200px;
}

.big-box .image-wrapper {
    width: 80%;
    position: relative;
}

.big-box .image-wrapper .big-box-image {
    width: 100%;
    display: block;
    position: absolute; 
    left: -50px; 
}

.big-box .image-description {
    width: 30%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
    padding: 70px 0 50px;
}

.big-box .image-description .section .section-title {
    font-size: 20px;
    color: #5D5E60;
    margin-top: 0;
}

.big-box .image-description .section .section-info {
    font-size: 14px;
    color: #9AA0A8;
    margin: 0;
}

.device-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.device-image-wrapper .devices-image {
    display: block;
    width: 60%;
}

.tools-items-list {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.tools-items-list .tool-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools-items-list .tool-item .tool-image-wrapper .tool-image {
    display: block;
    height: 35px;
}

.tools-items-list .tool-item .tool-title {
    width: 50%;
    text-align: center;
    color: #5D5E60;
    margin: 35px 0 15px;
}

.tools-items-list .tool-item .tool-description {
    width: 85%;
    text-align: center;
    font-size: 14px;
    color: #9AA0A8;
    margin: 0;
}

.logo-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 85px;
    margin-bottom: 150px;
}

.logo-section .logo-section-image {
    display: block;
    height: 45px;
}

.container .clipboard-section-wrapper {
    margin: 0 0 150px;
}

.container .clipboard-section-wrapper .clipboard-section .clipboard-section-description {
    margin: 0 0 40px;
}

.footer-wrapper {
    background-color: #d0d7df48;
    padding: 50px 0 50px;
}

.footer-wrapper .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-wrapper .footer .footer-logo-wrapper .footer-logo {
    display: block;
    height: 55px;
}

.footer-wrapper .footer .footer-menu-list-wrapper {
    width: 45%;
}

.footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

.footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list,
.footer-wrapper .footer .social-media-wrapper .social-media-list {
    padding-left: 0;
    margin: 0;
}

.footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list .footer-menu-item,
.footer-wrapper .footer .social-media-wrapper .social-media-list .social-media-item {
    list-style-type: none;
    width: calc(100% / 3);
}

.footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list .footer-menu-item .footer-menu-item-link {
    text-decoration: none;
    font-size: 18px;
    color: #5D5E60;
}

.footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list .footer-menu-item .footer-menu-item-link:hover {
    color: #27B69F;
}

.footer-wrapper .footer .social-media-wrapper .social-media-list .social-media-item path:hover {
    fill: #27B69F;
}

.footer-wrapper .footer .social-media-wrapper .social-media-list .social-media-item svg.social-media-icon {
    width: 24px;
}


.footer-wrapper .footer .social-media-wrapper .social-media-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 24px);    
    column-gap: 20px;
}

@media (max-width: 1156px) {
    .big-box .image-wrapper .big-box-image {
        position: static;
    }

    .big-box .image-description {
        padding: 15px 0 50px;
    }
}

@media (max-width: 1041px) {
    .main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-box {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .big-box .image-description {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 653px) {
    .hero-box-wrapper .hero-box .logo-wrapper .logo {
        width: 100px;
        margin: 100px 0 50px;
    }

    .hero-box-wrapper .hero-box .page-title-wrapper .title {
        font-size: 28px;
    }

    .container .mini-box-wrapper .mini-box .mini-box-title, .container .clipboard-section-wrapper .clipboard-section .clipboard-section-title {
        font-size: 24px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-wrapper .footer .footer-menu-list-wrapper .footer-menu-list .footer-menu-item {
        width: 90%;
    }
}

@media (max-width: 491px) {
    .buttons-wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .tools-items-list {
        flex-direction: column;
        row-gap: 50px;
    }

    .tools-items-list .tool-item {
        width: 100%;
    }

    .logo-section {
        flex-direction: column;
        align-items: center;
    }

    
}
